@import "../../assets//scss//mixins";
@import "../../assets//scss/variable";
.material-main-container {
  padding: 240px 0px 0px 80px;
  @media screen and (max-width: 992px) {
    padding: 10px 0px 0px 0px !important;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 0px 0px 0px !important;
  }
  .left-container {
    padding-top: 83px;
    @media screen and (max-width: 768px) {
      padding-top: 50px;
    }
    .main-title {
      font-family: "Gilroy-Bold";
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.175em;
      text-transform: uppercase;
      color: #e58411;
      @media screen and (max-width: 992px) {
        margin: auto !important;
        text-align: center;
      }
    }
    .main-subtitle {
      @include commonTitleStyle();
      padding-top: 20px;
      padding-right: 237px;
      @media screen and (max-width: 992px) {
        padding-right: 0;
        margin: auto !important;
        text-align: center;
        font-size: 30px;
      }
    }
    .main-description {
      font-family: "Gilroy-Regular";
      font-size: 18px;
      line-height: 185%;
      color: $common-title-color;
      opacity: 0.8;
      padding-right: 94px;
      padding-top: 20px;
      @media screen and (max-width: 992px) {
        margin: auto;
        text-align: center;
        padding-right: 0;
      }
    }
    .yellow-container {
      @media screen and (max-width: 998px) {
        justify-content: center;
      }

      .yellow-text {
        @include chooseYellowtext();
        padding-top: 14px;
      }
      .yellowArrow {
        padding: 10px 0px 0px 13px;
      }
    }
  }
  .leftmain {
    text-align: end;
    position: relative;
    @media screen and (max-width: 992px) {
      margin: auto;
      margin-top: 80px !important;
    }
    .leftmain-image {
      width: 100%;
    }
  }
  .leftshadow {
    position: absolute;
    right: 0px;
    top: -60px;
    z-index: -1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .img1 {
    padding-bottom: 47px;
  }
  .leftmaterial1 {
    @media screen and (max-width: 992px) {
      display: flex;
      padding-top: 20px;
      margin: auto;
    }
  }
  .leftmaterial2 {
    @media screen and (max-width: 992px) {
      display: flex;
      margin: auto;
    }
  }
}
