@import "../../assets//scss//mixins";
@import "../../assets//scss/variable";

.material-main-container {
  padding: 240px 0px 0px 80px;
  .left-container {
    padding-top: 83px;
    .main-title {
      font-family: "Gilroy-Bold";
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.175em;
      text-transform: uppercase;
      color: #e58411;
    }
    .main-subtitle {
      @include commonTitleStyle();
      padding-top: 20px;
      max-width: 413px;
      @media screen and (max-width: 992px) {
        margin: auto;
        text-align: center;
      }
    }
    .main-description {
      font-family: "Gilroy-Regular";
      font-size: 18px;
      line-height: 185%;
      color: $common-title-color;
      opacity: 0.8;
      width: 556px;
      padding-top: 20px;
      @media screen and (max-width: 992px) {
        margin: auto;
        text-align: center;
      }
    }
    .yellow-container {
      @media screen and (max-width: 998px) {
        margin: auto;
      }

      .yellow-text {
        @include chooseYellowtext();
        padding-top: 14px;
      }
      .yellowArrow {
        padding: 10px 0px 0px 13px;
      }
    }
  }
  .leftmain {
    text-align: end;
    position: relative;
    @media screen and (max-width : 992px) {
      margin: auto;
    }
  }
  .leftshadow {
    position: absolute;
    right: 0px;
    top: -60px;
    z-index: -1;
  }
  .img1 {
    padding-bottom: 47px;
  }
}
