.slider-container {
    .main-slider-container {
    
    }
    .slick-prev {
      width: 79px;
      left: -37px;
      height: 100px;
      z-index: 99999;
    }
    .slick-next{
      height: 100px;
      z-index: 99999;
      width: 79px;
      right: 14px;
  
    }
  }
  